.idea/
node_modules/

# android
android/build/
android/app/build/
android/.gradle/

# ios
ios/build/
ios/Pods/
ios/*.xcworkspace/
xcuserdata
.DS_Store

*.jks
fastlane/gp-key.json
fastlane/README.md
fastlane/report.xml
